.popup__close-button {
  width: 32px;
  /* Позиционирование */
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -40px;
  right: -40px;
  /* Стилизация */
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    width: 20px;
    top: -36px;
    right: 0px;
  }
}
