@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

.page {
  min-width: 320px;
  /* Позиционирование */
  margin: 0 auto;
  /* Параметры текста */
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
  /* Фон */
  background: #000;
  /* Параметры оптимизации шрифта */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  max-width: 880px;
  /* Позиционирование */
  margin: 0 auto;
  padding: 45px 0 41px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 920px) {
  .header {
    padding: 28px 27px 32px 27px;
  }
}

.header__logo {
  width: 142px;
  /* Позиционирование */
  display: block;
}

@media screen and (max-width: 550px) {
  .header__logo {
    width: 104px;
    height: 24px;
  }
}


.profile {
  max-width: 880px;
  /* Позиционирование */
  margin: 0 auto;
  padding: 40px 0 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (-webkit-max-content);
  -ms-grid-columns: (max-content);
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 920px) {
  .profile {
    padding: 40px 19px 50px 19px;
  }
}

@media screen and (max-width: 710px) {
  .profile {
    padding: 42px 19px 36px 19px;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    row-gap: 36px;
  }
}

.profile__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 30px -webkit-max-content;
  -ms-grid-columns: max-content 30px max-content;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

@media screen and (max-width: 550px) {
  .profile__container {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    row-gap: 26px;
    justify-items: center;
  }
}

.profile__avatar {
  width: 120px;
  border-radius: 60px;
  /* Позиционирование */
  display: block;
}

.profile__info {
  /* Позиционирование */
  margin: auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 18px -webkit-max-content;
  -ms-grid-columns: max-content 18px max-content;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  -ms-grid-rows: 39px 16px 18px;
  grid-template-rows: 39px 18px;
  gap: 16px 18px;
}

@media screen and (max-width: 550px) {
  .profile__info {
    -ms-grid-rows: 26px 14px 14px;
    grid-template-rows: 26px 14px;
    gap: 14px 10px;
    position: relative;
    left: 14px;
  }
}

.profile__name {
  margin: 0;
  /* Параметры текста */
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

@media screen and (max-width: 550px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}

.profile__description {
  margin: 0;
  /* Параметры текста */
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 550px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  /* Позиционирование */
  padding: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Стилизация */
  cursor: pointer;
  outline: none;
	border: 1px solid #fff;
  background-color: #000;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}

.profile__add-button {
  width: 150px;
  height: 50px;
  /* Позиционирование */
  margin: auto 0 auto auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Стилизация */
  cursor: pointer;
  outline: none;
	border: 1px solid #fff;
  background-color: #000;
}

.profile__add-button:hover {
  opacity: 0.6;
}


@media screen and (max-width: 710px) {
  .profile__add-button {
    width: 100%;
  }
}

.elements {
  max-width: 880px;
  /* Позиционирование */
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
}

.elements__list {
  width: 100%;
  /* Позиционирование */
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
}

@media screen and (max-width: 920px) {
  .elements__list {
    padding: 0 19px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.element {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  /* Позиционирование */
  margin: 0;
}

.element__image {
  width: 100%;
  height: 282px;
  /* Позиционирование */
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.element__container {
  width: 100%;
  /* Позиционирование */
  padding: 25px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 31px -webkit-max-content;
  -ms-grid-columns: 1fr 31px max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  -webkit-column-gap: 31px;
     -moz-column-gap: 31px;
          column-gap: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Фон */
  background-color: #fff;
}

.element__caption {
  margin: 0;
  /* Параметры текста */
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like {
  width: 22px;
  /* Позиционирование */
  margin: auto 0 auto auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Стилизация */
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}

.footer {
  max-width: 880px;
  /* Позиционирование */
  margin: 0 auto;
  padding: 66px 0 60px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 920px) {
  .footer {
    padding: 66px 19px 60px 19px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    padding: 48px 19px 36px 19px;
  }
}

.footer__copyright {
  margin: 0;
  /* Параметры текста */
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 550px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}

.popup {
  width: 100%;
  height: 100%;
  /* Позиционирование */
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  /* Фон */
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__container {
  width: 430px;
  /* Позиционирование */
  margin: 0;
  padding: 34px 36px 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  /* Фон */
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}

.popup__header {
  margin: 0 0 18px;
  /* Параметры текста */
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

@media screen and (max-width: 550px) {
  .popup__header {
    margin: 0 0 45px;
    /* Параметры текста */
    font-size: 18px;
    line-height: 22px;
  }
}

.popup__input {
  width: 100%;
  /* Позиционирование */
  margin: 30px 0 0;
  padding: 0 0 10px;
  /* Параметры текста */
  font-size: 14px;
  line-height: 17px;
  /* Стилизация */
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__save-button {
  width: 100%;
  height: 50px;
  /* Параметры текста */
  margin: 46px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  /* Стилизация */
  cursor: pointer;
  border: none;
  background-color: #000;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .popup__save-button {
    height: 46px;
    /* Позиционирование */
    margin: 43px 0 0;
    /* Параметры текста */
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__close-button {
  width: 32px;
  /* Позиционирование */
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -40px;
  right: -40px;
  /* Стилизация */
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    width: 20px;
    top: -36px;
    right: 0px;
  }
}

.popup__close-icon {
  width: 100%;
}
