@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

.page {
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
  background: #000;
  /* Параметры оптимизации шрифта */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  max-width: 880px;
  /* Позиционирование */
  margin: 0 auto;
  padding: 45px 0 41px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 920px) {
  .header {
    padding: 28px 27px 32px 27px;
  }
}

.header__logo {
  width: 142px;
  /* Позиционирование */
  display: block;
}

@media screen and (max-width: 550px) {
  .header__logo {
    width: 104px;
    height: 24px;
  }
}


.profile {
  max-width: 880px;
  /* Позиционирование */
  margin: 0 auto;
  padding: 40px 0 50px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}

@media screen and (max-width: 920px) {
  .profile {
    padding: 40px 19px 50px 19px;
  }
}

@media screen and (max-width: 710px) {
  .profile {
    grid-template-columns: 100%;
    row-gap: 36px;
  }
}

.profile__container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 30px;
}

@media screen and (max-width: 550px) {
  .profile__container {
    grid-template-columns: 100%;
    row-gap: 26px;
    justify-items: center;
  }
}

.profile__avatar {
  width: 120px;
  border-radius: 60px;
  /* Позиционирование */
  display: block;
}

.profile__info {
  /* Позиционирование */
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: 39px 18px;
  gap: 16px 18px;
}

@media screen and (max-width: 550px) {
  .profile__info {
    grid-template-rows: 26px 14px;
    gap: 14px 10px;
    position: relative;
    left: 14px;
  }
}

.profile__name {
  margin: 0;
  /* Параметры текста */
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

@media screen and (max-width: 550px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}

.profile__description {
  margin: 0;
  /* Параметры текста */
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 550px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  /* Позиционирование */
  padding: 0;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Стилизация */
  outline: none;
	border: 1px solid #fff;
  background-color: #000;
}

@media screen and (max-width: 550px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}

.profile__add-button {
  width: 150px;
  height: 50px;
  /* Позиционирование */
  margin: auto 0 auto auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Стилизация */
  outline: none;
	border: 1px solid #fff;
  background-color: #000;
}

@media screen and (max-width: 710px) {
  .profile__add-button {
    width: 100%;
  }
}
