@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

.page {
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
  background: #2A2C2F;
  /* Параметры оптимизации шрифта */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  max-width: 880px;
  min-height: 74px;
  /* Позиционирование */
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 880px) {
  .header {
    min-height: 56px;
    /* Позиционирование */
    padding-top: 28px;
  }
}

.header__logo {
  width: 142px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    width: 104px;
    /* Позиционирование */
    margin-left: 27px;
  }
}
